.hidden {
    display: none;
    }

#hunger-bar {
    width: 200px;
    height: 20px;
    border: 1px solid purple;
  }
  
  #hunger-level {
    width: 100%; 
    height: 100%;
    background-color: purple;
  }

  #sleepiness-bar {
    width: 200px;
    height: 20px;
    border: 1px solid purple;
  }
  
  #sleepiness-level {
    width: 100%; 
    height: 100%;
    background-color: purple;
  }

  #boredom-bar {
    width: 200px;
    height: 20px;
    border: 1px solid purple;
  }
  
  #boredom-level {
    width: 100%; 
    height: 100%;
    background-color: purple;
  }